In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
t2_data = pd.read_csv("TRAIN_task2_resampled(1).csv")
t2_data

                                       English_processed  label_task2
0       Ignore the other one hes an asshole The probl...     REPORTED
1       Ignore the other one hes an asshole The probl...  JUDGEMENTAL
2       Ignore the other one hes an asshole The probl...  JUDGEMENTAL
3       Ignore the other one hes an asshole The probl...     REPORTED
4       Ignore the other one hes an asshole The probl...  JUDGEMENTAL
...                                                  ...          ...
50219  Feminism is for women  Stupid men who call the...      UNKNOWN
50220  How real was that scene of Kat vs  All the inf...      UNKNOWN
50221   Incorrect  The term used to be used interchan...      UNKNOWN
50222   Its also quite common in agri pastoral societ...      UNKNOWN
50223  How real was that scene of Kat vs  All the inf...      UNKNOWN

[50224 rows x 2 columns]